<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8"/>
		<title>Cars Save</title>
	</head>
	
	<body>
		<h1>Cars Data Save Page</h1>
		<p th:text=" 'ID : ' +${data.id}"/>
		<p th:text=" 'Nama : ' +${data.nama}"/>
		<p th:text=" 'Tipe : ' +${data.tipe}"/>
		<p th:text=" 'BesarCC : ' +${data.besarcc}"/>
	</body>
</html>